

body{
    background-color: khaki;
}
    
h1{
    border: 2px solid rgb(75, 6, 6);
    font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(158, 10, 104);
}
#intro {
    background-color: rgb(233, 227, 175);
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
    font-weight: 600;
    line-height: 30px;
    font-size: 20px;
}
.head {
    text-decoration: underline; 
    word-spacing:1px ;
    font-weight:lighter; text-align: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;   color: indigo;
}
#course{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:initial;
    font-weight: 600;
    line-height: 25px;
    font-size: 18px;
    font-style: normal;
    color: rgb(100, 2, 95);
   }
   #favText{
    font-family:Arial, Helvetica, sans-serif;
    font-style:initial;
    font-weight: 600;
    line-height: 1px;
    font-size: 18px;

}
#fav{
    text-decoration:underline;
    font-family:'Courier New', Courier, monospace;
    font-style:initial;
    font-weight: 600;
    line-height: 20px;
    font-size: 18px;
    
}
#ol{
    font-family:'Courier New', Courier, monospace;
    font-style:initial;
    font-weight: bold;
    line-height: 20px;
    font-size: 20px;
}
#neigh{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:initial;
    font-weight: 400;
    line-height: 20px;
    font-size: 18px;

}

   











